# PyCharm
.idea/
*.iml

# VSCode
.vscode/
*.code-workspace

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
VENV/
*.env
*.venv
.pytest_cache/

# rye
requirements.lock
requirements-dev.lock

# OS
.DS_Store
